
html{
    height:100%
}


body{
    background-image: url(https://miro.medium.com/max/1400/1*JLYlSLSK8-AZo8gt9UdYqA.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    
    border:2px solid whitesmoke;
    padding:1%;

    
}
#Container{
    

}
#location{
    width:10%;
    background-color: floralwhite;
    padding:0.5%;
    border-radius:5px;
    border:1px solid darkgray
    
}
#language{
    margin-left: 30%;
    width:25%;
    background-color: floralwhite;
    padding:0.5%;
    border-radius:5px;
    border:1px solid darkgray;
}
    
    

#container button{
    background-color:darkgray;
    color:white;
    padding:0.5%;
    width:7%;
    border-radius:5px;
    border:1px solid darkgray;
}

h1{
    border:1px solid darkgray;
    margin:auto;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    color:rgb(9, 8, 19);
    background-color:darkgray;
    margin-bottom: 15px;
    border-radius: 2px;
    
}

#res{
    margin-left: 10%;
    flex-flow: nowrap;


}
#res > *{
    display: flex;
    flex-direction: row;
    width: 90%;
    border: 1px solid black;
    padding: 1%;
    margin-bottom: 2%;
    color:rgb(22, 39, 87);
    background-color:whitesmoke;
    border-radius: 2px;
    
}
#res > * > div:nth-child(1){
    margin-right: 2%;
    width: 30%;
}
#res > * > div:nth-child(2){
    display: flex;
    flex-direction:column;
    
    
}

img{
    width: 100%;
    
}

p{
    margin:0.2%;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    color:rgb(61, 16, 55)
    
}